<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- Nucleo Icons -->
    <link href="../assets/css/nucleo-icons.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link href="../assets/css/black-dashboard.css?v=1.0.0" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="../assets/demo/demo.css" rel="stylesheet" />
</head>

<body>

    <div class="container">
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="javascript:void(0)" class="simple-text logo-mini">
                    CT
                </a>
                <a href="javascript:void(0)" class="simple-text logo-normal">
                    Creative Tim
                </a>
            </div>
            <ul class="nav">
                <li class="active ">
                    <a th:href="@{/dashboard/home}">
                        <i class="tim-icons icon-chart-pie-36"></i>
                        <p>Dashboard</p>
                    </a>
                </li>

                <li>
                    <a th:href="@{/dashboard/accounts}">
                        <i class="tim-icons icon-single-02"></i>
                        <p>Accounts</p>
                    </a>
                </li>

                <li>
                    <a th:href="@{/dashboard/categories}">
                        <i class="tim-icons icon-puzzle-10"></i>
                        <p>Categories</p>
                    </a>
                </li>

                <li>
                    <a th:href="@{/dashboard/products}">
                        <i class="tim-icons icon-atom"></i>
                        <p>Products</p>
                    </a>
                </li>

                <li>
                    <a th:href="@{/dashboard/notification}">
                        <i class="tim-icons icon-bell-55"></i>
                        <p>Notifications</p>
                    </a>
                </li>

                <!-- <li>
                <a href="./icons.html">
                  <i class="tim-icons icon-atom"></i>
                  <p>Icons</p>
                </a>
              </li>
              
              <li>
                <a href="./notifications.html">
                  <i class="tim-icons icon-bell-55"></i>
                  <p>Notifications</p>
                </a>
              </li>
              <li>
                <a href="./user.html">
                  <i class="tim-icons icon-single-02"></i>
                  <p>User Profile</p>
                </a>
              </li>
              <li>
                <a href="./tables.html">
                  <i class="tim-icons icon-puzzle-10"></i>
                  <p>Table List</p>
                </a>
              </li> -->

                <li class="active-pro">
                    <a href="./upgrade.html">
                        <i class="tim-icons icon-spaceship"></i>
                        <p>Upgrade to PRO</p>
                    </a>
                </li>
            </ul>
        </div>
        <div xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">




        </div>





    </div>

</body>

</html>